/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 0;

}

ul {
  padding: 0;
  list-style-type: none;
}

.wrapper {
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
}


/* HEADER  */


.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 20%;
}


/* SEARCH SECTION */

.search-section__search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 1em;
  margin-bottom: 1.6em;
  /* border: 3px dotted rgb(236, 20, 20); */
  background-color: #E7E7E7;
  border-radius: 5px;
}

#search-bar {
  width: 100%;
  padding: 1em;
  background-color: #E7E7E7;
  border: none;
}

#search-bar::placeholder {
  opacity: 0.50;
}

.fa-search {
  font-size: 1.5rem;
  margin: 1em;
}

#search-bar:focus-visible {
  outline: none;
}


/* FILTERS  */
#search-section__filters-container {
  height: 70px;
}


.filters-list {
  display: flex;
  gap: 15px;
  position: absolute;
}

.filter-item__button {
  padding: 10px 60px 10px 10px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  border: none;
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.filter-item__button::after {
  position: absolute;
  background: url(../assets/arrow.svg);
  content: "";
  top: 13px;
  right: 20px;
  width: 16px;
  height: 11px;
  z-index: 10;
}

.active .filter-item__button::after {
  rotate: 180deg;
}

.active .filter-item__button {
  border-radius: 0;
}

.active  .filter-item__button span {
  display: none;
}

.active .search-filter__input {
  display: block;
}

.search-filter__input {
  display: none;
  color: white;
  border: none;
  font-size: 10px;
  width: 100%;
}

.ingredients-color {
  background: #3282F7;
}

.appliance-color {
  background: #68D9A4;
}

.ustensils-color {
  background: #ED6454;
}

.filter-item-list {
  padding: 5px 10px;
  display: none;
}

.filter-item-list ul {
  display: flex;
  font-size: 10px;
  border-radius: 0 0 5px 5px;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 20;
  color: white;
  width: 100%;
  top: 0;
}

.filter-item-list li {
  width: 33%;
  display: none;
}

.active {
  display: block;
}

.active .filter-item-list {
  display: block;
}
.active .filter-item-list li {
  display: block;
}



.filter-item-list__btn{
  border: none;
  color: white;
  padding: 2px;
  text-align: left;
}

#filter-in {
  background: #3282F7;
}

#filter-ap {
  background: #68D9A4;
}

#filter-us {
  background: #ED6454;
}

.filter-item input::placeholder {
  color: white;
}

.filter-item input:focus-visible {
  outline: none;
}

/* FILTER TAG */

/* .search-section__filter-tags-container{
  display: flex;
  flex-wrap: wrap;
} */

/* .search-section__filter-tags-container li {
  padding: 2px;
} */

/* #filter-in-tag, #filter-us-tag, #filter-ap-tag {
  color: white;
  font-size: 0.75rem;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
} */

#filter-tags {
  display: flex;
}

.filter-tag-item {
  /*display: flex;*/
  display: inline-flex;
  color: white;
  padding: 10px 20px;
  align-items: center;
  border-radius: 5px;
  margin-right: 0.7em;
}

.filter-tag-item button {
  border: none;
  background-color: transparent;
  margin-left: 0.7em;
}

.fa-times-circle {
  color: white;
  font-size: 1.2rem;
}

#filter-us-tag {
  background: #ED6454;
}

#filter-ap-tag {
  background: #68D9A4;
}

#filter-in-tag {
  background: #3282F7;
}



/* SECTION RECIPES */

.all-recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.article-recipe {
  height: 50vh;
  border-radius: 5px;
  /* border: 1px solid green; */
}

.recipe__img {
  height: 45%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #C7BEBE;
}

.recipe__content {
  height: 55%;
  background-color: #E7E7E7;
  padding: 1em;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.recipe__content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8em;
  font-size: 1.5rem;
}

.recipe__content-header-title {
  width: 70%;
}

.fa-clock {
  margin-right: 0.3em;
  font-weight: bold;
}

.recipe__content-header__time {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.recipe__content__details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.recipe__content__ingredients {
  margin-right: 0.5em;
}

.recipe__content__details ul {
  margin: 0;
}

.recipe__content__instructions {
  /* border: 1px solid red; */
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  text-overflow: ellipsis;
  overflow: hidden;
}
