/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

h1 {
  font-size: 1.5rem;
}

ul {
  padding: 0;
  list-style-type: none;
}



.container {
  border: 1px solid black;
  margin-top: 2em;
}



/* HEADER  */


.header {
  display: flex;
  justify-content: center;
  border: 1px dotted rgb(236, 20, 20);
}

.header__logo {
  width: 20%;
}


/* SEARCH SECTION */

.search-section__search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-top: 1em;
  margin-bottom: 1.6em;
  /* border: 3px dotted rgb(236, 20, 20); */
  background-color: #E7E7E7;
  border-radius: 5px;
}

.search-bar {
  /* width: 100%; */
  padding: 1em;
  background-color: #E7E7E7;
  border: none;
  color: aqua;
}

.search-bar::placeholder {
  opacity: 0.50;
}

.fa-search {
  font-size: 1.5rem;
  margin: 1em;
}


/* SECTION RECIPES */

.all-recipes {
  /* max-width: 100%; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-recipe {
  width: 30%;
  height: 60vh;
  /* padding: 0; */
  border-radius: 5px;
  /* border: 1px solid green; */
}

.recipe__img {
  height: 45%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #C7BEBE;
}

.recipe__content {
  background-color: #E7E7E7;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border: 1px solid blue; */
}

.recipe__content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 1.5rem;
}

.recipe__content__details {
  font-size: 0.8rem;
  line-height: normal;
}
